---
layout: default
title: About Page
meta-description:
meta-keywords:
featured-image_path:
banner_image: /images/banners/maja-banner-3.jpg
banner:
  - image_path: /images/banners/maja-banner-3.jpg
    image-caption: test 123
  - image_path: /images/banners/maja-banner2.jpg
    image-caption: test 234
  - image_path: /images/banners/maja-banner1.jpg
    image-caption: test 456
maries-products:
- name: Ordinary
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
  buy-text: Soft Skin
- name: kapten bag
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: Beautiful face
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: ring
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: ring
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
jakes-products:
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
---


<!-- - - - - - - - - - - - - - Banner both - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Intro Section both - - - - - - - - - - - - - -->
<section class="padded about-page featured-bg">
  <!-- <div class="col-5_sm-12-middle editable ">
    <img src="/images/marie-jake/Website 2-23.jpg" class="editable"></img>
  </div> -->
  <div class="capped-width padded">
    <div class="centered">
      <!-- <img src="/images/logo/maja-logo4.png" class="signoff"> -->
      <h1 data-aos="fade" data-aos-offset="200"> ma<span>•</span>ja</h1>
      <h2 data-aos="fade" data-aos-delay="500"> (marie) + (jake) </h2>
      <div data-aos="fade" data-aos-delay="700">
        {% include squiggle.html %}
      </div>
    </div>
    <p class="margin-top-1"> <span data-aos="fade" data-aos-delay="1500"> Over the years we have learnt many lessons about life, love, travel, health and we’ve grown a lot because of these lessons. </span>
      <span data-aos="fade" data-aos-delay="1500" >We’ve <strong> travelled the world </strong> and seen the most beautiful places, </span>
      <span data-aos="fade" data-aos-delay="1500" > met the happiest people and discovered new ways of living that we didn’t know existed. </span>
      <span data-aos="fade" data-aos-delay="1500"> Because of all this we’ve been able to <strong>collect the tools </strong>we needed to design a dream lifestyle for ourselves. </span>
      <span data-aos="fade" data-aos-delay="1500">A lifestyle that allows us to spend our time the way we want, </span>
      <span data-aos="fade" data-aos-delay="1500">  gives us the opportunity to give back to others and the world, </span>
      <span data-aos="fade" data-aos-delay="1500">  encourages us to make <strong> healthy choices </strong>,</span>
      <span data-aos="fade" data-aos-delay="1500"> enables us to see the world and puts a smile on our faces everyday. </span></p>
    <p>
      <span data-aos="fade" data-aos-delay="1500"> We’ve  <strong>worked hard </strong> to make our dreams become a reality make no mistake about that, </span>
      <span data-aos="fade" data-aos-delay="1500">but the tools we’ve collected over the years, </span>
      <span data-aos="fade" data-aos-delay="1500">the lessons we’ve learnt and the thought processes we’ve constructed that have helped us <strong>succeed</strong> are very much acquirable. </span>
      <span data-aos="fade" data-aos-delay="1500">We want to share all this with you through our new blog. </span>
      <span data-aos="fade" data-aos-delay="1500"> From how we stay healthy on the road to how we deal with the fear of failure.</span>
      <span data-aos="fade" data-aos-delay="1500"> How we <strong> make money online </strong> to what products we use and love. </span>
      <span data-aos="fade" data-aos-delay="1500">We want this blog to be more than a travel blog, we want it to be an open book that we can all <strong>contribute to and learn from</strong>.</span>
      <span data-aos="fade" data-aos-delay="1500"> A place that <strong>inspires creativity</strong>, positivity and love, a place you can come to when you need to remind yourself that anything is possible. </span> </p>
    </p>
    <p class="right" data-aos="fade" data-aos-delay="1000">
      <img src="/images/logo/signoff.png" class="signoff">
    </p>
  </div>

</section>

<!-- Sliding banner -->
<section class="relative slick-blog-loop">
<div class='embed-container'><iframe src='https://player.vimeo.com/video/304801248' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
</section>

<section class="grid padded light-bg">
  <div class="col-12 centered" >
    <h2 data-aos="fade"> Our favourite things...</h2>
    <div data-aos="fade">
    {% include squiggle.html %}
    </div>
  </div>
  <div class="col-6_sm-12 editable padded-1" data-aos="fade">
    <p><strong> Jake </strong> can't live without <a href="#" target="_blank" class="emphasis"> duis aute irure </a> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#" target="_blank" class="emphasis"> aute irure </a> occaecat cupidatat non proident, <a href="#" target="_blank" class="emphasis"> Duis aute irure </a> qui officia deserunt mollit anim id est laborum occaecat cupidatat. </p>
  </div>
  <div class="col-6_sm-12 editable padded-1" data-aos="fade">
    <p> <strong> Marie </strong> starts every day with <a href="#" target="_blank" class="emphasis"> luis aute irure </a> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#" target="_blank" class="emphasis"> aute irure </a> occaecat cupidatat non proident, <a href="#" target="_blank" class="emphasis"> Duis aute irure </a> qui officia deserunt mollit anim id est laborum. </p>
  </div>
</section>

<!-- - - - - - - - - - - - - - Product Intro Section Marie - - - - - - - - - - - - - -->
<!-- <section class="must-haves padded centered">
  <h2 class="Montserrat"> Marie's Must Haves </h2>
  <div class="grid-center">

    {% for item in page.maries-products %}
    <div class="col-4">
      <a href="#{{item.name}}" class="must-have-item padded bg-image" style="background-image: url('{{item.thumbnail_image}}');">
        <h3> {{item.name}} </h3>
      </a>
    </div>

    {% endfor %}

  </div>
</section> -->

<!-- - - - - - - - - - - - - - Product Intro Section Jake - - - - - - - - - - - - --->
<!-- <section class="must-haves padded centered">
  <h2 class="Montserrat margin-bottom-2"> Jakes Must Haves </h2>
  <div class="grid-center capped-width">

    {% for item in page.jakes-products %}

    <div class="col-4">
      <a href="#{{item.name}}" class="must-have-item padded bg-image" style="background-image: url('{{item.thumbnail_image}}');">
        <h3> {{item.name}} </h3>
      </a>
    </div>


    {% endfor %}

  </div>
</section> -->

<!-- - - - - - - - - - - - - - Products Section Marie - - - - - - - - - - - - - -->
<!-- <section class="padded light-bg">
  <h2 class="centered Montserrat"> Why Marie Loves it... </h2>
  <hr class="centered"> {% for item in page.maries-products %}
  <div class="grid-center padded-2" id="{{item.name | slugify}}">
    <div class="col-6_xs-12 tall-50 padded bg-image" style="background-image: url('{{item.banner_image}}');">
    </div>
    <div class="col-4_xs-12 padded-left">
      <h3> {{item.name}} </h3>
      <p> {{item.description}} </p>
      <a href="{{item.buy-link}}" class="button"> {{item.buy-text}} | ${{item.price}} </a>
    </div>
  </div>

  {% endfor %}

</section> -->


<!-- - - - - - - - - - - - - - Products Section Jake - - - - - - - - - - - - - -->
<!-- <section class="padded">

  <h2 class="centered Montserrat"> Why Jake Loves it... </h2>
  <hr class="centered"> {% for item in page.jakes-products %}
  <div class="grid-center padded-2" id="{{item.name | slugify}}">

    <div class="col-4_xs-12 padded-left">
      <h3> {{item.name}} </h3>
      <p> {{item.description}} </p>
      <a href="{{item.buy-link}}" class="button"> Buy Now | ${{item.price}} </a>
    </div>
    <div class="col-6_xs-12 tall-50 padded bg-image" style="background-image: url('{{item.banner_image}}');">
    </div>
  </div>


  {% endfor %}

</section> -->


<!-- Add your content for the about page here -->
