---
layout: default
title: About Page
meta-description:
meta-keywords:
featured-image_path:
banner-image_path: /images/placeholder.jpg
maries-products:
- name: Ordinary
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
  buy-text: Soft Skin
- name: kapten bag
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: Beautiful face
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: ring
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: ring
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
jakes-products:
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
- name: shirt
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  thumbnail_image: /images/placeholder.jpg
  banner_image: /images/placeholder.jpg
  price: 14
  buy-link: #
---


<!-- - - - - - - - - - - - - - Banner both - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Intro Section both - - - - - - - - - - - - - -->
<section class="padded grid mob-flex-flip">
  <div class="col-5_sm-12-middle editable ">
    <img src="/images/marie-jake/Website 2-23.jpg" class="editable"></img>
  </div>
  <div class="col-7_sm-12 editable padded">
    <h1 > Hi, We're Marie and Jake </h1>
    <p> Over the years we have learnt many lessons about life, love, travel, health and we’ve grown a lot because of these lessons. We’ve travelled the world and seen the most beautiful places, met the happiest people and discovered new ways of living that we didn’t know existed. Because of all this we’ve been able to collect the tools we needed to design a dream lifestyle for ourselves. A lifestyle that allows us to spend our time the way we want, gives us the opportunity to give back to others and the world, encourages us to make healthy choices, enables us to see the world and puts a smile on our faces everyday. </p>
    <p> We’ve worked hard to make our dreams become a reality make no mistake about that, but the tools we’ve collected over the years, the lessons we’ve learnt and the thought processes we’ve constructed that have helped us succeed are very much acquirable. We want to share all this with you through our new blog. From how we stay healthy on the road to how we deal with the fear of failure. How we make money online to what products we use and love. We want this blog to be more than a travel blog, we want it to be an open book that we can all contribute to and learn from. A place that inspires creativity, positivity and love, a place you can come to when you need to remind yourself that anything is possible. </p>
    </p>
  </div>
</section>
<section class="grid padded light-bg">
  <h2 class="col-12 centered"> Our favourite things...</h2>
  <div class="col-6_sm-12 editable padded-1">
    <p><strong> Jake </strong> can't live without <a href="#" target="_blank" class="emphasis"> duis aute irure </a> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#" target="_blank" class="emphasis"> aute irure </a> occaecat cupidatat non proident, <a href="#" target="_blank" class="emphasis"> Duis aute irure </a> qui officia deserunt mollit anim id est laborum occaecat cupidatat. </p>
  </div>
  <div class="col-6_sm-12 editable padded-1">
    <p> <strong> Marie </strong> starts every day with <a href="#" target="_blank" class="emphasis"> luis aute irure </a> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#" target="_blank" class="emphasis"> aute irure </a> occaecat cupidatat non proident, <a href="#" target="_blank" class="emphasis"> Duis aute irure </a> qui officia deserunt mollit anim id est laborum. </p>
  </div>
</section>

<!-- - - - - - - - - - - - - - Product Intro Section Marie - - - - - - - - - - - - - -->
<!-- <section class="must-haves padded centered">
  <h2 class="Montserrat"> Marie's Must Haves </h2>
  <div class="grid-center">

    {% for item in page.maries-products %}
    <div class="col-4">
      <a href="#{{item.name}}" class="must-have-item padded bg-image" style="background-image: url('{{item.thumbnail_image}}');">
        <h3> {{item.name}} </h3>
      </a>
    </div>

    {% endfor %}

  </div>
</section> -->

<!-- - - - - - - - - - - - - - Product Intro Section Jake - - - - - - - - - - - - --->
<!-- <section class="must-haves padded centered">
  <h2 class="Montserrat margin-bottom-2"> Jakes Must Haves </h2>
  <div class="grid-center capped-width">

    {% for item in page.jakes-products %}

    <div class="col-4">
      <a href="#{{item.name}}" class="must-have-item padded bg-image" style="background-image: url('{{item.thumbnail_image}}');">
        <h3> {{item.name}} </h3>
      </a>
    </div>


    {% endfor %}

  </div>
</section> -->

<!-- - - - - - - - - - - - - - Products Section Marie - - - - - - - - - - - - - -->
<!-- <section class="padded light-bg">
  <h2 class="centered Montserrat"> Why Marie Loves it... </h2>
  <hr class="centered"> {% for item in page.maries-products %}
  <div class="grid-center padded-2" id="{{item.name | slugify}}">
    <div class="col-6_xs-12 tall-50 padded bg-image" style="background-image: url('{{item.banner_image}}');">
    </div>
    <div class="col-4_xs-12 padded-left">
      <h3> {{item.name}} </h3>
      <p> {{item.description}} </p>
      <a href="{{item.buy-link}}" class="button"> {{item.buy-text}} | ${{item.price}} </a>
    </div>
  </div>

  {% endfor %}

</section> -->


<!-- - - - - - - - - - - - - - Products Section Jake - - - - - - - - - - - - - -->
<!-- <section class="padded">

  <h2 class="centered Montserrat"> Why Jake Loves it... </h2>
  <hr class="centered"> {% for item in page.jakes-products %}
  <div class="grid-center padded-2" id="{{item.name | slugify}}">

    <div class="col-4_xs-12 padded-left">
      <h3> {{item.name}} </h3>
      <p> {{item.description}} </p>
      <a href="{{item.buy-link}}" class="button"> Buy Now | ${{item.price}} </a>
    </div>
    <div class="col-6_xs-12 tall-50 padded bg-image" style="background-image: url('{{item.banner_image}}');">
    </div>
  </div>


  {% endfor %}

</section> -->


<!-- Add your content for the about page here -->
