---
layout: default
title: About Page
meta-description:
meta-keywords:
featured-image_path:
banner-1_path: /images/banners/hawaii-banner.jpg
banner:
  - image_path: /images/banners/maja-banner-3.jpg
    image-caption: test 123
  - image_path: /images/banners/maja-banner2.jpg
    image-caption: test 234
  - image_path: /images/banners/maja-banner1.jpg
    image-caption: test 456
---

<section class="banner grid centered" style="background-image:url({{page.banner-1_path}}); background-position: {{page.banner-position}};">
  <div class="col-12">
    <img class="about-gif" src="/images/gifs/loading_white.gif">
  </div>
</section>

<!-- <section class="padded-2">

<video width="100%" height="auto" controls autoplay="true">
  <source src="/images/maja-video.mp4" type="video/mp4">
</video>
</section> -->
<!-- - - - - - - - - - - - - - Banner both - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Intro Section both - - - - - - - - - - - - - -->
<section class="padded about-page featured-bg">
  <!-- <div class="col-5_sm-12-middle editable ">
    <img src="/images/marie-jake/Website 2-23.jpg" class="editable"></img>
  </div> -->
  <div class="capped-width padded">
    <div class="centered mob-hide">
      <!-- <img src="/images/logo/maja-logo4.png" class="signoff"> -->
      <h1 data-aos="fade" data-aos-offset="200"> ma<span>•</span>ja</h1>
      <h2 data-aos="fade" data-aos-delay="200"> (marie) + (jake) </h2>
      <div data-aos="fade" data-aos-delay="400">
        {% include squiggle.html %}
      </div>
    </div>
    <p class="margin-top-1">
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> Over the years we have learnt many lessons about life, love, travel, health and we’ve grown a lot because of these lessons. </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">We’ve <strong> travelled the world </strong> and seen the most beautiful places, </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> met the happiest people and discovered new ways of living that we didn’t know existed. </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> Because of all this we’ve been able to <strong>collect the tools </strong>we needed to design a dream lifestyle for ourselves. </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">A lifestyle that allows us to spend our time the way we want, </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">  gives us the opportunity to give back to others and the world, </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">  encourages us to make <strong> healthy choices </strong>,</span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> enables us to see the world and puts a smile on our faces everyday. </span></p>
    <p>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> We’ve  <strong>worked hard </strong> to make our dreams become a reality make no mistake about that, </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">but the tools we’ve collected over the years, </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">the lessons we’ve learnt and the thought processes we’ve constructed that have helped us <strong>succeed</strong> are very much acquirable. </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">We want to share all this with you through our new blog. </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> From how we stay healthy on the road to how we deal with the fear of failure.</span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> How we <strong> make money online </strong> to what products we use and love. </span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400">We want this blog to be more than a travel blog, we want it to be an open book that we can all <strong>contribute to and learn from</strong>.</span>
      <span data-aos="fade" data-aos-offset="200" data-aos-delay="400"> A place that <strong>inspires creativity</strong>, positivity and love, a place you can come to when you need to remind yourself that anything is possible. </span> </p>
    <p></p>
    <p class="right" data-aos="fade">
      <img src="/images/logo/signoff_maja_black.gif" class="signoff" />
    </p>
  </div>

</section>

<!-- Video banner -->
<section class="relative padded-2 mob-padded-0">
  <div class='embed-container'><iframe src='https://player.vimeo.com/video/411301298' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
</section>

<section class="padded featured-bg">
  <!-- <div class="col-5_sm-12-middle editable ">
    <img src="/images/marie-jake/Website 2-23.jpg" class="editable"></img>
  </div> -->
  <div class="capped-width padded">
    <h2 data-aos="fade" class="centered subtle-heading"> Our story</h2>
    <div data-aos="fade" class="centered">
    <img src="/images/gifs/wave.gif" class="small-gif">
    </div>
    <div class="editable">
      <p class="margin-top-1">
        “We are Marie and Jake, we come from opposite sides of the world. We fell in love 4 years ago on an island in Thailand and decided that our new found love was more important to us than security, comfort or a career ever would! We set about creating a life that would allow us to spend everyday together doing what we love while have a positive impact on the world. </p>
        <p>  It wasn’t easy, we had many set-backs and we faced a lot of criticism/doubt from almost everybody around us. But we can tell you now that our commitment to creating our life the way we wanted was the best thing we’ve ever done and will ever do. We are here to inspire you to do the same and help you through what ever that process looks like for you. Remember that the path to an amazing fulfilling life is different for everyone but the mindset we need to achieve that life is the same."
      </p>
    </div>
  </div>
</section>

<!-- Video banner -->
<section class="relative padded-2 mob-padded-0">
  <div class='embed-container'><iframe src='https://player.vimeo.com/video/411674198' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
</section>

<section class="grid padded light-bg" id="must-haves">
  <div class="col-12 centered">
    <h2 data-aos="fade" class="subtle-heading margin-top-1"> Our favourite things...</h2>
    <div data-aos="fade">
    {% include squiggle.html %}
    </div>
  </div>
  <div class="col-6_sm-12 editable padded-1" data-aos="fade">
    <p class="emphasis"><strong> Jake </strong> can't live without his <a target="_blank" href="https://www.thewodlife.com.au/collections/resistance-bands/products/heavy-duty-resistance-bands"><em><strong>heavy duty resistance bands</strong></em></a>&nbsp;that allow him to workout every muscle wherever we are. He also cant function without his <a target="_blank" href="https://kapten-son.com.au/collections/sunglasses"><em><strong>bluelight lenses</strong></em></a>&nbsp;to make sure he gets a good sleep even if we work late. Jake also likes to listen to a lot of music/podcasts and he cant go without his <a target="_blank" href="https://www.skullcandy.eu/shop/headphones/bluetooth-headphones/crusher-wireless"><em><strong>Skull Candy headphones</strong></em></a>&nbsp;</p>
  </div>
  <div class="col-6_sm-12 editable padded-1" data-aos="fade">
    <p class="emphasis"><strong> Marie </strong> starts every day with her <em><strong><a target="_blank" href="https://www.intelligentchange.com/?rfsn=3332515.84c023">productivity planner</a>&nbsp;</strong></em><strong></strong>to organise her days and focus in on what her priorities are! She doesn't leave the house without her <em><strong><a target="_blank" href="http://bit.ly/3chESj2">Kapten &amp; Son day bag</a>&nbsp;</strong></em>and she swears by the benefits she gets from <a target="_blank" href="https://www.bragg.com/products/organic-apple-cider-vinegar"><strong><em>Braggs apple cider vinegar</em></strong></a></p>
  </div>
</section>


<!-- Add your content for the about page here -->
