---
layout: default
title: Shop Marie Fe and Jake Snow Presets
meta-description:
meta-keywords:
featured-image_path:
video_banner_path: /videos/banner-small.mp4
banner-gallery:
  - image_path: /images/shop/ig-feeds/mobile.PNG
    title: Ultimate Mobile Pack
  - image_path: /images/shop/ig-feeds/pack-1.PNG
    title: Pack 1
  - image_path: /images/shop/ig-feeds/pack-2.PNG
    title: Pack 2
  - image_path: /images/shop/ig-feeds/pack-3.PNG
    title: Pack 3
  - image_path: /images/shop/ig-feeds/ocean.PNG
    title: Ocean Pack
---

<section class="grid-centered featured-bg">
  <div class="col-5_sm-12-middle right padded">
    <h2> Compare Maja Preset Packs </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="col-4_md_7_sm-12 padded">
    <div class="slick-compare-loop">

    {% for product in page.banner-gallery %}
    <div>
      <div class="card">
        <img src="{{product.image_path}}" />
        <div class="card-inner light-bg">
          <a class="subtle-button" href="{{product.url}}"> Shop {{product.title}} > </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>


<section class="grey-bg">
  <div class="centered padded capped-width">
    <h1 data-aos="fade"> Compare Maja Presets </h1>
    <p> One-Click Mobile & Desktop Presets for Lightroom </p>
  </div>
  <!-- <nav id="product-filter" class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000">
      <a href="#" class="category">all</a>
    {% for category in site.data.preset-tags %}
      <a href="#" class="category">{{category}}</a>
    {% endfor %}

   -->

  <div id="product-loop" class="padded blog-masonry">

    {% for product in site.products limit: 15 %}

        <div class="shop-item masonry-item padded-1
        " data-aos="fade" data-aos-delay="500">
            <div class="card">
              <video width="100%" height="auto" controls muted playsinline poster="{{product.video_poster_path}}">
                <source src="{{product.video_banner_path}}" type="video/mp4" />
              </video>
              <a class="card-inner" href="{{product.url}}">
                <h3> {{product.title}}</h3>
                <span class="subtle-button"> Shop this preset > </span>
              </a></div>
            
          </div>

    {% endfor %}

  </div>
</section>

<section class="featured-bg centered editable padded">
  <h2> How presets work </h2>
  <p> These are one-click presets for desktop and mobile to be used in the Adobe Lightroom app.  </p>
  <div class="padded-2">
      <div class='embed-container'><iframe src='https://www.youtube.com/embed/1KV_B4mVgOg' frameborder='0' allowfullscreen></iframe></div>
  </div>
  <a href="/faqs" class="button-subtle"> More Instructions & FAQs  > </a>
</section>
