---
layout: default
title: FAQs | Marie Fe and Jake Snow
meta-description: >-
  Find answers to all of your questions about our presets here. Get direct help
  immediately.
meta-keywords: >-
  FAQ's, FAQ, question and answer, questions and answers, preset questions,
  installation tutorials, how to install presets
image_path:
---

<!-- <section class="featured-bg centered editable padded">
  <div class="padded-1 editable">
    <h2> How to install your presets </h2>
    <p> Short description </p>
  </div>
  <div class="padded-1">
      <div class='embed-container'><iframe src='https://www.youtube.com/embed/1KV_B4mVgOg' frameborder='0' allowfullscreen></iframe></div>
  </div>
</section> -->
<section class="mob-show">
{% include shop-slider-nav.html %}
</section>
<section class="padded relative" id="faqs">
  <div class="col-12 left padding-0">
    <button class="back-button" onclick="goBack()">< Go Back</button>
  </div>
  <div class="bg-image overlay" style="background-image:url('/images/gifs/website_leaves_black.gif')"> </div>
  <h2 class="centered padded-1"> Frequently Asked Questions </h2>

  <dl class="accordion padded-1">

    {% for question in site.data.preset-faqs %}

    <dt class="grey-bg"><a href="#">{{question.question}}</a></dt>
    <dd>{{question.answer_html}}</dd>

    {% endfor %}
  </dl>
</section>
<section class="light-bg padded">
  <div class="padded-1 editable">
    <h3>Still need help?</h3>
    <p>If you still need help - message us Instagram&nbsp;<a target="_blank" href="https://www.instagram.com/majapresets/"><strong>@majapresets</strong></a><strong>&nbsp;</strong>for your questions :)</p>
    <p>Much much love and HAPPY EDITING&nbsp;</p>
    <p><img class="signoff" src="/images/logo/signoff_maja_black.gif" /></p>
  </div>
</section>
