---
layout: default
title: Latest on the blog
meta-description: >-
  We update our blog twice a week. Check-out this page for any new blog posts
  you might have missed.
meta-keywords: >-
  Maja blog, mariefeandjakesnow, marie fe and jake snow, marie fe, jake snow,
  marie and jake, thisismaja
image_path:
navigation-links:
  - url: /blog
    title: Blog
  - url: /shop
    title: Shop Presets
  - url: /shop-maja-bali
    title: Shop Maja Bali
show-more-posts-button: false
---

<section>
  <h1 class="centered padded" data-aos="fade"> Newsfeed </h1>
  <div class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000">

    <a href="/" class="category active"> Newsfeed </a>

    {% for link in page.navigation-links %}
    <a href="{{link.url}}" class="category"> {{link.title}} </a>
    {% endfor %}


  </div>
</section>
<section class="padded">


  <div class="blog-loop blog-masonry">


    {% assign newsfeed-posts = site.documents | where: "newsfeed", true | sort: 'date' | reverse %}

    {% for post in newsfeed-posts %}
      {% unless post.hidden == true %}
          {% include post-loop-item.html %}
      {% endunless %}
    {% endfor %}

  </div>

  {% if page.show-more-posts-button == true %}

  <div class="centered">
    <!-- This links to the archive of blog posts -->
    <a href="/archive" class="button"> See More </a>
  </div>

  {% endif %}

</section>
