---
layout: default
title: Maja | Marie Fe & Jake Snow
page-id: home
meta-description: >-
  Maja | @mariefeandjakesnow | Conscious lifestyle design. Learn how to create a
  life that you love.
meta-keywords: 'maja, mariefeandjakesnow, marie fe, jake snow, travelcouple, marie and jake'
featured-image_path:
banner-1_desktop_video_path: /videos/maja-banner-min.mp4
banner-1_mobile_video_path: /videos/mobile-banner-2.mp4
banner-2_path: /images/banners/gili-banner.jpg
banner-position: 50% 50%;
---

<!-- this is just an example. You can safely delete these and add your own blocks -->

<!-- banner -->

<section class="padded padded-t-0 home-page-banner mob-hide centered">
  <video width="100%" height="auto" autoplay muted loop playsinline poster="/videos/home-video-poster-mobile.png">
    <source src="{{page.banner-1_desktop_video_path}}" type="video/mp4" />
  </video>
</section>
<section class="home-video-banner mob-show">
  <video width="100%" height="auto" autoplay muted loop playsinline poster="/videos/home-video-poster-mobile.png">
    <source src="{{page.banner-1_mobile_video_path}}" type="video/mp4" />
  </video>
</section>

<div class="featured-bg">
  <div class="bg-animation">

    <section class="padded centered">
      <nav class="margin-bottom-1">
        <a href="/blog"> Explore </a>
      </nav>
      <h2 class="text-animation">
        <a class="emphasis" href="/travel" data-aos="fade" data-aos-offset="100"><span> Travel </span></a>
        <a class="emphasis" href="/lifestyle" data-aos="fade" data-aos-offset="150" data-aos-delay="100"><span> Lifestyle </span></a>
        <a class="emphasis" href="/wellbeing" data-aos="fade" data-aos-offset="180" data-aos-delay="150"><span> Wellbeing </span></a>
        <a class="emphasis" href="/journal" data-aos="fade" data-aos-offset="200" data-aos-delay="200"><span> Journal </span></a>
      </h2>
    </section>

    <section class="slick-blog-container">

      <div class="relative slick-blog-loop">
        {% for post in site.posts limit:6 %}

        <div class="{% unless post.loop.index == 1 %} hidden {% endunless %}">
          <div class="banner grid-right" style="background-image:url({{post.banner-1_path}}); padding: 0.5rem;">
            <a href="{{post.url}}" class="col-5_sm-7_xs-10-bottom banner-inner grid">
              <div class="col-6 left mob-hide">
                <span class="author"> {{post.author}} </span> | <span class="category"> {{post.categories[0]}} </span>
              </div>
              <div class="col-6 right mob-hide">
                  {% include squiggle.html %}
              </div>
              <div class="col-12 centered">
                <h2> {{post.title}} </h2>
                <p class="subtitle right"> Read Now > </p>
               </div>

            </a>
        </div>

        </div>

        {% endfor %}

      </div>

    </section>

    <section class="padded grid-spaceAround">
      <div class="col-4_md-6_sm-12 editable padded-1" data-aos="fade-left">
        <h2><a class="about-link" href="/about"><span> about </span> <img class="about-arrow" src="/images/icons/arrow.png" /> </a></h2>
        <p><a class="about-link" href="/about">What is <strong>M A J A</strong> all about? Come and get to know us, we've got a lot to share with you.</a></p>
      </div>
      <div class="col-4_md-6_sm-12 editable padded-1" data-aos="fade-right">
        <h2><a class="about-link" href="/about#must-haves"><span> our must haves </span> <img class="about-arrow" src="/images/icons/arrow.png" /> </a></h2>
        <p><a class="about-link" href="/about#must-haves">These products help us achieve happiness, efficiency and producitivity every day. &nbsp;</a></p>
      </div>
    </section>
  </div>
</div>
<!--  Banner 2  -->
<section class="banner" style="background-image:url({{page.banner-2_path}}); background-position: {{page.banner-2-position}};">

</section>

<section class="padded grid-center" data-aos="fade">
  <div class="col-2_sm-1 right padded-1">
    <span class="quote-icon"> “ </span>
  </div>
  <div class="col-4_md-6_sm-9 padded-1">
    <p class="quote-text editable">
      We've been thinking about where the world is going and how important it is to take back control of our lives by conscious lifestyle design
    </p>
  </div>
  <div class="col-2_sm-1 left padded-1">
    <span class="quote-icon"> ” </span>
  </div>
  <div class="col-6_md-8_sm-12 right padded-1">
    <img src="/images/logo/signoff_maja_black.gif" class="signoff" />
  </div>
</section>

<section class="padded light-bg">
  <div class="grid-centered capped-width">
    <div class="col-5_sm-12-middle editable ">
      <p> <img src="/freebies/course-free-preset/the-soft-asset.png"> </p>
    </div>
    <div class="col-6_sm-12-middle padded bump-left white-bg" data-aos="fade-left">
      <h2 class="editable subtle-heading">
        FREE PRESET&nbsp;<img class="small-flower" src="/images/gifs/flower_01.gif" />
      </h2>
      <p class="editable">
        As part of our 7-day free <a target="_blank" href="www.instituteofcode.com/courses/7-day-photography"> photography challenge </a> with Institute of Code we're giving you 'The Soft' preset (perfect for portraits at home!) for free.&nbsp;
      </p>
      <a href="/freebies/course-free-preset/the-soft.dng" class="button" download> DOWNLOAD NOW </a>

    </div>
  </div>
</section>



<!-- <section class="grid ig-banner light-bg">
  <div class="col-4_sm-12 grid">
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[0]}}')">
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[1]}}')"></div>
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[2]}}')"></div>
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[3]}}')"></div>

  <div class="col-4_sm-12-middle centered padded">
    <h2 class="margin-top-1 text-animation" data-aos="fade" data-aos-offset="0">
      <a class="emphasis" href="http://www.instagram.com/mariefeandjakesnow"> <span> follow us </span> </a>
    </h2>
      <a class="subtle-heading" href="http://www.instagram.com/mariefeandjakesnow"> @Mariefeandjakesnow </a>
  </div>
  <div class="col-4_sm-12 grid">
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[4]}}')"></div>
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[5]}}')"></div>
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[6]}}')"></div>
    <div class="col-6 bg-image" style="background-image:url('{{page.ig-images[7]}}')"></div>
  </div>
 -->

 <!-- <div id="loader-wrapper" class="dark-bg">
   <div class="padded centered">
    <img src="/images/gifs/loading_white.gif" style="max-height: 70vh">
    <p class="subtitle"> ... loading ... </p>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<script src="https://github.com/Modernizr/Modernizr/raw/master/modernizr.js"></script>
<script>
  // Wait for window load
  $(window).load(function() {
    // Animate loader off screen
    $("#loader-wrapper").animate({
      top: -2000
    }, 1500);
  });
</script> -->
