---
layout: default
title: Latest on the blog
meta-description: >-
  We update our blog twice a week. Check-out this page for any new blog posts
  you might have missed.
meta-keywords: >-
  Maja blog, mariefeandjakesnow, marie fe and jake snow, marie fe, jake snow,
  marie and jake, thisismaja
image_path:
show-more-posts-button: false
---

<section>
  <h1 class="centered padded" data-aos="fade"> Newsfeed </h1>
  <div class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000">

    <a href="/" class="category active"> Newsfeed </a>
    <a href="/blog" class="category"> Blog </a>
    <a href="/shop" class="category"> Shop Presets </a>
    <a href="/shop-maja-bali" class="category"> Shop Maja Bali The Label</a>

  </div>
</section>
<section class="padded">


  <div class="blog-loop blog-masonry">

    {% for post in site.categories.newsfeed limit: 20 %}
        {% include post-loop-item.html %}
    {% endfor %}

  </div>

  {% if page.show-more-posts-button == true %}

  <div class="centered">
    <!-- This links to the archive of blog posts -->
    <a href="/archive" class="button"> See More </a>
  </div>

  {% endif %}

</section>
