---
layout: default
title: Maja Preset Ambassador Program
---

<section class="padded light-bg featured-bg">
  <div class="centered padded-1 capped-width editable">
    <h1> Earn money with us</h1>
    <p class="emphasis"> Affiliate program for @Mariefeandjakesnow presets </p>
  </div>
  <div class="grid centered">
      <div class="col-4 padded-2 affiliate-box editable" data-aos="fade" data-aos-offset="100">
        <img src="/images/icons/sun.png">
         <h3> Sign Up </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-4 padded-2 affiliate-box editable" data-aos="fade" data-aos-offset="100">
        <img src="/images/icons/sun.png">
        <h3> Promote </h3>
         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-4 padded-2 affiliate-box editable" data-aos="fade" data-aos-offset="100">
        <img src="/images/icons/sun.png">
        <h3> Earn money </h3>
         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-12 padded-2">
        <a class="button-solid" href="#"> Join MAJA Ambassador Program </a>
      </div>
  </div>
  </section>

  <section class="padded light-bg">
  <div class="grid-centered capped-width padded-2">
    <div class="col-6_sm-12-middle editable ">
      <p><img class="editable" src="/images/free-preset/free-preset.jpg" /></p>
    </div>
    <div class="col-6_sm-12-middle padded bump-left white-bg editable" data-aos="fade-left">
      <h3>Earn money with us</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>

  <div class="grid-centered capped-width padded-2">
    <div class="col-6_sm-12-middle padded bump-right white-bg editable" data-aos="fade-right">
      <h3>Earn money with us</h3>
      {% include squiggle.html %}
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
    <div class="col-6_sm-12-middle editable ">
      <p><img class="editable" src="/images/free-preset/free-preset.jpg" /></p>
    </div>
  </div>

  <div class="grid-centered capped-width">
    <div class="col-6_sm-12-middle editable">
      <p><img class="editable" src="/images/free-preset/free-preset.jpg" /></p>
    </div>
    <div class="col-6_sm-12-middle padded bump-left white-bg editable" data-aos="fade-left">
      <h3>Earn money with us</h3>
      {% include squiggle.html %}
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

    </div>
  </div>
</section>
