---
layout: default
title: Shop Marie Fe and Jake Snow Presets
meta-description:
meta-keywords:
featured-image_path:
---

<section class="grey-bg">
  <div class="col-12 left padding-0 mob-hide">
    <button class="back-button" onclick="goBack()">< Go Back</button>
  </div>
  <div class="centered padded capped-width">
  <h1 data-aos="fade"> Shop Maja Presets </h1>
  <p> One-Click Mobile & Desktop Presets for Lightroom </p>
  </div>
  <!-- <nav id="product-filter" class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000">
      <a href="#" class="category">all</a>
    {% for category in site.data.preset-tags %}
      <a href="#" class="category">{{category}}</a>
    {% endfor %}

  </nav> -->

  <div id="product-loop" class="padded blog-masonry">

    {% assign sorted-products = site.products | sort: 'order' %}

    {% for product in sorted-products limit: 15 %}

        <div class="shop-item masonry-item padded-1
        {% for tag in product.preset-tags %} {{tag | slugify}} {% endfor%}
        " data-aos="fade" data-aos-delay="500">
            <a href="{{product.url}}" class="card">
              {% unless product.save-percentage == false %}
              <span class="save">SAVE<br>{{ product.save-percentage }}</span>
              {% endunless %}
              <img src="{{product.image_path}}" nopin="nopin">
              <div class="padded-1">
                <h3> {{product.title}}</h3>
                <p>{{product.short-description}} </p>
                <p> <span class="compare-at-price">{{product.compare-at-price}} </span> {{product.price}} </p>
                <p class="stars"> ★★★★★ ({{product.reviews}}) </p>
                <!-- {% for tag in product.preset-tags %}<span class="category"> {{tag}} </span> {% endfor%} -->
              </div>
            </a>
          </div>

    {% endfor %}

  </div>
</section>
<!--
<section class="featured-bg centered editable padded">
  <h2> How presets work </h2>
  <p> These are one-click presets for desktop and mobile to be used in the Adobe Lightroom app.  </p>
  <div class="padded-2">
      <div class='embed-container'><iframe src='https://www.youtube.com/embed/1KV_B4mVgOg' frameborder='0' allowfullscreen></iframe></div>
  </div>
  <a href="/faqs" class="button-subtle"> More Instructions & FAQs  > </a>
</section> -->
