---
layout: default
title: Shop Marie Fe And Jake Snow
meta-description: >-
  We created our photo filters for beginners as well as intermediate
  photographers. Produce beautiful images in just a few seconds!
meta-keywords: >-
  shop maja, maja shop, shop presets, buy presets, lightroom presets, buy maja
  presets, maja presets, marie and jake presets
image_path: /images/banners/banner-shop.jpg
best-sellers:
  - mobile
  - ultimate - 2
  - ultimate-3
  - ultimate - 1
  - all-star
  - all-in-one
banners:
  - image_path: /images/banners/maja-banner-3.jpg
    title: Our Best Sellers
    paragraph: Explore our most popular presets
    button-text: Explore
    button_url: /shop-presets
  - image_path: /images/banners/give-cafe2-before.jpg
    title: Earn with MAJA Presets
    paragraph: Get paid to share our presets
    button-text: yes please!
    button_url: /preset-affiliate
---

<section class="shop video-banner">
  <video width="100%" height="auto" autoplay muted loop playsinline poster="/videos/shop-banner-poster.png">
    <source src="/videos/banner-small.mp4" type="video/mp4" />
  </video>
</section>


<!-- <section class="shop-banner">
  <div class="relative slick-loop">

    {% for banner in page.banners limit:6 %}

    <div>
      <div class="banner grid-centered-bottom padded-1" style="background-image:url({{banner.image_path}});">
        <div class="col-3_md-6_sm-12 banner-inner">
            <h2> {{banner.title}} </h2>
            <p> {{banner.paragraph}} </p>
            <a class="button-solid" href="{{banner.button_url}}"> {{banner.button-text}} </a>
        </div>
      </div>
    </div>

    {% endfor %}


 -->
<!-- <nav id="product-filter" class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000">
    <a href="#" class="category">all</a>
  {% for category in site.data.preset-tags %}
    <a href="#" class="category">{{category}}</a>
  {% endfor %}

 -->
 <section>
{% include shop-slider-nav.html %}
</section>

<!-- <section class="padded centered featured-bg">
  <h2 class="text-animation">
    <a class="emphasis mini-card" href="/shop-presets" data-aos="fade" data-aos-offset="100">
      <img src="/images/icons/sun.png">
       Presets
    </a>
    <a class="emphasis mini-card" href="/shop-freebies" data-aos="fade" data-aos-offset="100">
      <img src="/images/icons/sun.png">
       Freebies
    </a>
    <a class="emphasis mini-card" href="/compare-presets" data-aos="fade" data-aos-offset="100">
      <img src="/images/icons/sun.png">
       Compare
    </a>
    <a class="emphasis mini-card" href="/faqs" data-aos="fade" data-aos-offset="100">
      <img src="/images/icons/sun.png">
       FAQs
    </a>
  </h2>
</section> -->

<section class="shop-intro relative">
  <div class="bg-image overlay" style="background-image:url('/images/gifs/website_leaves_black.gif')"> </div>
  <div class="capped-width centered padded">
    <h2 data-aos="fade" class="mob-hide"> Our Style </h2>
    <span class="mob-hide">
        {% include squiggle.html %}
    </span>
    <div class="editable">
      <p>NEWWWSS &nbsp;Buy 2 products&nbsp; &amp; get the second one for free :)!!!</p>
    </div>
    <img src=/images/logo/signoff_maja_black.gif class="signoff" />
  </div>
</section>

<section class="grey-bg padded">
  <div class="centered padded-1 capped-width">
  <h1 data-aos="fade"> Bestsellers </h1>
  <p> One-click mobile and desktop presets by @mariefeandjakesnow </p>
  </div>
  <!-- <nav id="product-filter" class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000">
      <a href="#" class="category">all</a>
    {% for category in site.data.preset-tags %}
      <a href="#" class="category">{{category}}</a>
    {% endfor %}
   -->
    <script>
        // initialize product array for analytics, and on click tracking command for product click
        var productsForAnalytics = new Array()
        var pushProductClick = function(currentProduct) {
            dataLayer.push({
                            'event': 'productClick',
                            'ecommerce': {
                              'click': {
                                'products': [currentProduct]
                              }
                             }
            });
        }
    </script>
<div class="padded-1">

  <div id="product-loop" class="blog-masonry">

    {% assign sorted-products = site.products | sort: 'order' %}

    {% for product in sorted-products %}

    {% if product.home-page-feature == true %}
        <script>
            var productForAnalytics = {
                'name': '{{product.title}}',
                'price': parseFloat('{{product.price}}'.replace('$', ''))
            }
            productsForAnalytics.push(productForAnalytics);
            pushProductClick(productForAnalytics);
        </script>
        <div class="shop-item masonry-item padded-1
        {% for tag in product.preset-tags %} {{tag | slugify}} {% endfor%}
        " data-aos="fade" data-aos-delay="500">
            <a href="{{product.url}}" class="card">
              {% unless product.save-percentage == false %}
              <span class="save">SAVE<br />{{ product.save-percentage }}</span>
              {% endunless %}
              <img src="{{product.image_path}}" />
              <div class="padded-1">
                <h3> {{product.title}}</h3>
                <p class="product-price"> {{product.price}}  <span class="compare-at-price">{{product.compare-at-price}} </span> </p>
                <p>{{product.short-description}} </p>
                <p class="stars"> ★★★★★ ({{product.reviews}}) </p>

                <!-- {% for tag in product.preset-tags %}<span class="category"> {{tag}} </span> {% endfor%} -->
              </div>
            </a>
          </div>

          {% endif %}

    {% endfor %}

  </div>
  
  <script>
    var pushProductImpressions = function(currentProduct) {
    dataLayer.push({
                    'event': 'productClick',
                    'ecommerce': {
                        'impressions': productsForAnalytics
                    }
                    });
    }
  </script>
  <p class="padded-1 centered">
    <a href="/shop-presets" class="subtle-button"> See All Presets </a>
  </p>
</div></section>


<section class="padded-1">

  <h2 class="padded-2 centered subtle-heading"> Reviews of Maja Presets </h2>

  <div id="looxCarousel" data-show-more="true"></div>

</section>

<script async src="//loox.io/widget/loox.js?shop=shop-mariefeandjakesnow.myshopify.com"></script>