---
layout: default
title: Maja Shop Mobile Menu
hide-from-google: true
hide-header: true
hide-footer: true
links:
  - link_text: New Shop
    link_url: /shop
  - link_text: Preset Sale - Up to 60% off
    link_url: 'https://thisismaja.com/shop-presets'
  - link_text: What Preset PAck do I want + FAQ
    link_url: 'https://thisismaja.com/faqs'
  - link_text: New - Compare Preset Packs
    link_url: /compare-presets
  - link_text: New - $10 Bonus Presets
    link_url: /products/all-star
  - link_text: Affiliate Program
    link_url: /preset-ambassador
  - link_text: Help
    link_url: /faqs
background_image: /images/banners/gili-banner.jpg
link_color: 'rgb(90,90,90)'
link-background_color: rgba(255,255,255,0.8)
---

<style>
.explore-menu .main-links {
  background-color: {{page.link-background_color}} ;
  color: {{page.link_color}} ;
  padding: 0.7rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  /* text-transform: none;
  letter-spacing: 0; */
}
</style>

<section class="explore-menu bg-image" style="background-image:url({{page.background_image}});">
<nav class="padded">

  <div class="mini-header">
    <!-- <a href="/" data-aos="fade" style="border: none;">
      <img class="logo" src="/images/logo/maja-logo-6.png">
    </a> -->
  </div>
  {% for item in page.links %}

  <a href="{{item.link_url}}" class="main-links"> {{item.link_text}}</a>

  {% endfor %}

  <a class="emphasis" href="/subscribe">  MAJA TALK NEWSLETTER </a>

  <nav class="inline socials margin-top-2 padded-1">
    <a href="http://www.facebook.com/mariefeandjakesnow">
      {% include svg-icons/facebook.html %}
    </a>
    <a href="http://www.instagram.com/mariefeandjakesnow">
      {% include svg-icons/instagram.html %}
    </a>
    <a href="http://www.youtube.com/mariefeandjakesnow">
      {% include svg-icons/youtube.html %}
    </a>
    <a href="https://vm.tiktok.com/W1teQt/">
      {% include svg-icons/tik-tok.html %}
    </a>
  </nav>
</nav>

</section>
<section>

    <div id="product-loop" class="blog-masonry explore-shop-slider grid">

      {% assign sorted-products = site.products | sort: 'order' %}

      {% for product in sorted-products %}

          <div class="col-10 shop-item masonry-item padded-1 relative">
              <a href="{{product.url}}" class="card">
                {% unless product.save-percentage == false %}
                <span class="save">SAVE<br />{{ product.save-percentage }}</span>
                {% endunless %}
                <img src="{{product.image_path}}" />
                <div class="padded-1">
                  <h3> {{product.title}}</h3>
                  <p class="product-price"> {{product.price}}  <span class="compare-at-price">{{product.compare-at-price}} </span> </p>
                  <p>{{product.short-description}} </p>
                  <p class="stars"> ★★★★★ ({{product.reviews}}) </p>

                  <!-- {% for tag in product.preset-tags %}<span class="category"> {{tag}} </span> {% endfor%} -->
                </div>
              </a>
            </div>

      {% endfor %}

    </div>
</section>
