<footer class="bg-light-grey padded-1">
  <div class="padded-1 centered sub-footer mob-show">
    <p> <a href="#top">^ <br> Scroll to top </a> </p>
  </div>
  <div class="grid grey-bg main-footer">
  <!-- column -->
  <div class="col-5_sm-12 padded">
    <h3> FOLLOW <span class="subtle-heading mob-hide"><strong>@mariefeandjakesnow </strong></span></h3>
    <nav class="inline socials">
      <a href="http://www.facebook.com/mariefeandjakesnow" target="_blank">
        {% include svg-icons/facebook.html %}
      </a>
      <a href="http://www.instagram.com/mariefeandjakesnow" target="_blank">
        {% include svg-icons/instagram.html %}
      </a>
      <a href="http://www.youtube.com/mariefeandjakesnow" target="_blank">
        {% include svg-icons/youtube.html %}
      </a>
      <a href="https://vm.tiktok.com/W1teQt/" target="_blank">
        {% include svg-icons/tik-tok.html %}
      </a>
    </nav>
  </div>
  <div class="col-1 sm-hidden">
  </div>
  <!-- column -->
  <div class="col-6_sm-12-middle padded right">
    <nav class="inline">
      <span class="border-right"></span>
      <a href="/about"> About </a>|
      <a href="/blog"> Blog </a>|
      <a href="/course"> Course </a>|
      <a href="work-with-us"> Work with Us </a>
    </nav>

  </div>
  </div>
  <div class="padded-1 centered sub-footer">
      <a href="/website-terms">  Copyright 2020 </a>
      <a href="/privacy-policy">  Privacy Policy </a>
      <a href="http://www.instituteofcode.com">Website by Maja X Institute of Code </a>
      <a href="/privacy-policy">  Animations by @caroline.kjellberg </a>
  </div>
</footer>
