<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="nav-bar fixed">
  <div class="grid-center">
      <nav class="col-4-middle right mob-hide" data-aos="fade" data-aos-delay="500">
        <a href="/blog"> BLOG </a>
        <a href="/about"> ABOUT </a>
      </nav>
      <div class="col-3_sm-12-middle centered">
        <a href="/" data-aos="fade">
          <img class="logo" src="/images/logo/maja-logo-6.png" nopin="nopin">
        </a>
      </div>
      <nav class="col-4-middle mob-hide" data-aos="fade" data-aos-delay="500">
        <a href="/shop"> SHOP </a>
        <a href="/subscribe"> SUBSCRIBE </a>
      </nav>
  </div>
  <!-- this is the button to open and close your hamburger menu -->
  <div class="hamburger">
      _<br>
      _<br>
      _
  </div>
</header>




<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  <div class="hamburger close"> X </div>
  <div class="mini-header">
    <a href="/" data-aos="fade">
      <img class="logo" src="/images/logo/maja-logo-6.png" nopin = "nopin">
    </a>
  </div>
  <div class="padded-1">
    <a href="/" style="--index: 0;"> Home </a>
    <a href="/blog" style="--index: 1;"> Blog </a>
    <a href="/about" style="--index: 2;"> About </a>
    <a href="/shop" style="--index: 3;"> SHOP </a>
    <a href="/subscribe" class="emphasis" style="--index: 4;"> Subscribe </a>
  </div>
  <nav class="inline socials">
    <a href="http://www.instagram.com/mariefeandjakesnow" target="_blank" style="--index: 5;">
      <!-- <i class="fab fa-instagram"></i> -->
      instagram
    </a>
    <a href="http://www.youtube.com/mariefeandjakesnow" target="_blank" style="--index: 5;">
      <!-- <i class="fab fa-youtube"></i> -->
      youtube
    </a>
    <a href="https://vm.tiktok.com/W1teQt/" target="_blank" style="--index: 5;">
      <!-- <i class="fab fa-youtube"></i> -->
      tiktok
    </a>
  </nav>
</nav>
