<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="grid-center">
  <nav class="col-4-middle right mob-hide">
    <a href="/blog"> BLOG </a>
    <a href="/about"> ABOUT </a>
  </nav>
  <div class="col-3_sm-12-middle centered">
    <a href="/">
      <img class="logo" src="/images/logo/maja-logo-1.png">
    </a>
  </div>
  <nav class="col-4-middle mob-hide">
    <a href="https://shopmariefeandjakesnow.com/" target="_blank"> SHOP </a>
    <a href="/subscribe"> SUBSCRIBE </a>
  </nav>
</header>


<!-- this is the button to open and close your hamburger menu -->
<div class="hamburger">
    _<br>
    _<br>
    _
</div>

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  <a href="/">
    <h2 class="logo"> MAJA </h2>
  </a>
  <hr>
  <a href="/blog"> Blog </a>
  <a href="/about"> About </a>
  <a href="https://shopmariefeandjakesnow.com/" target="_blank"> SHOP </a>
  <a href="/subscribe"> Subscribe </a>
</nav>
