
  /* Headers and footers */

  header {
    padding: 0.2rem 5%;
    // border-bottom: 1px solid #f9f0e7;
  }

  header .logo {
    padding: 0.5rem 3rem 0.2rem;
    max-width: 12rem;
  }

  footer .logo {
    max-width: 8rem;
  }

  header a,
  footer a,
  nav a {
    text-decoration: none;
    color: inherit;
    font-family: p22-underground, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  header nav a {
    padding: 0.5rem 2rem;
    display: inline-block;
  }

  .inline a {
    display: inline-block;
    padding: 0.5rem;
  }

  nav a:hover {
    color: #be9a85;
  }

  header nav a.emphasis {
    /* padding: 0.5rem 2rem; */
    margin: 0 0.5rem;
    border: 1px solid #be9a85;
    border-radius: 2px;
    color: #be9a85;
  }

  header nav a.emphasis:hover {
    background-color: #be9a85;
    color: white;
  }

  /* Dropdown Header */

  header li {
    list-style: none;
    display: inline-block;
    position: relative;
  }

  header li .dropdown-menu {
    display: none;
    padding: 1rem;
    min-width: 12rem;
  }

  header li li {
    display: block;
  }

  header .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: -1rem;
    background-color: white;
  }

  #expand-nav a {
    font-size: 1rem;
  }

  /* Fixed Header Option */

  header.fixed {
    position: fixed;
    background-color: rgb(255,255,255);
    top:0;
    left:0;
    right:0;
    z-index: 2;
    margin:0;
  }
  .bump-for-header {
    min-height: 4rem;
  }


  /* Hamburger Menu */
  .hamburger,
  .mobile-menu {
    display: none;
  }

  .hamburger {
    position: fixed;
    top: -1rem;
    right: 0;
    z-index: 6;
    font-size: 3rem;
    font-weight: 200;
    font-family: 'p22-underground', sans-serif;
    padding: 1rem;
    padding-bottom: 2rem;
    line-height: 0.2;
    vertical-align: top;
    cursor: pointer;
  }

  .hamburger.close {
    color: rgb(180,180,190);
    position: fixed;
    top: 1rem;
    font-size: 1.5rem;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(255,255,255,0.97);
    padding: 10%;
    z-index: 5;
    text-align: center;
  }

  .mobile-menu .padded-1 {
    padding-bottom:0;
  }

  .mobile-menu hr {
    margin: 1rem;
    margin-bottom: 2rem;
  }

  .mobile-menu .logo {
    width: 8rem;
    max-width:80%;
  }

  .mobile-menu a {
    padding: 0.1rem;
    display: block;
    text-decoration: none;
    color: rgb(60,60,60);
    font-size: 1.4rem;
    font-family: orpheuspro, serif;
    text-transform: none;

  }

  .mobile-menu .inline a,
  .explore-menu .inline a {
    display: inline-block;
    color: rgb(100,100,110);
    font-weight: normal;
    font-family: "orpheuspro";
    text-transform: none;
    font-size: 0.9rem;
    padding: 0.2rem;
    font-style: italic;
  }

  .mobile-menu .emphasis,
  .explore-menu .emphasis {
    background-color: rgb(60,60,60);
    color: white;
    margin: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    /* font-weight: bold; */
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-family: 'p22-underground', sans-serif;
  }

  header .mobile-menu a {
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: opacity;
  }

  header .mobile-menu a {
    --index: 0;
    transition-delay: calc(0.25s * var(--index));
  }

   header .mobile-menu.active a {
    opacity: 1;
    transform: translate(0);
  }

  .back-button img {
    max-width: 2.5rem;
    opacity: 0.8;
  }


  // Explore Menu

  .explore-menu {
    margin-top: -4.3rem;
  }

  .explore-menu a {
    font-size: 1.2rem;
    display: block;
    padding: 1rem;
  }

  .explore-menu .logo {
    max-height: 5rem;
    margin: auto;
    display: block;
  }

  .explore-menu .inline a {
    display: inline-block;

  }

  .explore-post-slider,
  .explore-shop-slider {
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: auto;
  }

  .explore-post-slider .bg-image {
    padding-bottom: 60%;
    margin-bottom: 1rem;
  }

  .explore-post-slider .author {
    font-family: 'p22-underground';
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .explore-post-slider h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .explore-shop-slider {
    padding: 2rem 0 2rem 1rem;
  }

  .explore-menu .socials a {
    padding: 0.5rem;
  }

  .explore-menu .socials svg {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    fill: white;
  }

  // About Sections

  img.about-arrow {
    max-width: 4rem;
    transition: all 0.5s;
    position: relative;
    left: 0;
  }

  .about-link h2 span {
    // border-bottom: 1px solid;
  }

  .about-link:hover img {
    left: 1rem;
  }


  /* -- Footer -- */

  footer .socials svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: #413c3c;
  }

  footer .socials svg:hover {
    fill: #be9a85;
  }

  footer nav a {
    display:inline-block;
    vertical-align: middle;
  }

  footer h3 {
    font-size: 1.2rem;
  }

  footer .border-right {
    border-right: 1px solid rgb(180,180,190);
    margin-right: 2rem;
    min-height: 5rem;
    display: inline-block;
    vertical-align: middle;
  }

  .sub-footer {
    padding: 1rem 1rem 0;
  }

  .sub-footer p a {
    font-family: 'orpheuspro';
    text-transform: none;
    font-size: 1rem;
    border-bottom: 0;
  }

  .sub-footer a,
  .subfooter p {
    padding: 1rem;
    font-size: 0.7rem;
  }


  #loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(234, 185, 170, 0.9);
}

  .loaded #loaded-wrapper {
    opacity: 0;
  }


  @media(max-width:1000px) {

  header nav a {
    padding: 0.5rem 1rem;
  }

  }

  @media(max-width:768px) {
    header {
      padding: 0.5rem 0 0 0;
    }
    header .logo {
      padding: 0 3rem;
    }

    .main-footer {
      padding: 2rem;
    }

    .sub-footer a,
    .subfooter p {
      padding: 0.2rem;
      font-size: 0.6rem;
    }
    .about-link {
    /* text-align: center; */
    background-color: white;
    display: block;
    padding: 1rem;
    }
  }
