

// Explore Shop page

.shop.video-banner video{
  max-height:80vh
}

.shop-banner .banner-inner {
  padding: 1rem;
  text-align: center;
}

.shop-banner h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.shop-banner p {
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0;
}

.save {
    position: absolute;
    top: 0;
    right: 2rem;
    line-height: 1.1;
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    font-size: 0.7rem;
    font-family: p22-underground;
    color: rgb(120,120,130);
    border-radius: 100%;

}

.product-price {
  color: #eab9aa;
}

// Shop

.text-animation .mini-card img {
  max-width: 5rem;
  display: block;
  margin: 0 auto 0.5rem;
}

.text-animation .mini-card {
  // border: 1px solid rgb(120,120,130);
  color: rgb(120,120,130);
  padding: 1rem;
  margin: 0.5rem;
  min-width: auto;
}

.mini-card {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: p22-underground;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.mini-card:hover {
  color: #eab9aa;
  border-bottom: 1px solid #eab9aa;
  // box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

// Compare Presets Page

.slick-compare-loop .card {
  max-width: 40vh;
  padding: 0;
  margin: 1rem 1rem 2rem;
}

.slick-compare-loop .card .card-inner {
  padding: 1rem;
  margin-top: -1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:center;
}

.slick-product-loop .slick-next,
.slick-compare-loop .slick-next, {
  right: -1.5rem;
}

.slick-product-loop .slick-prev,
.slick-compare-loop .slick-prev, {
  left: -1.5rem;
}

.slick-product-loop .slick-next:before,
.slick-product-loop .slick-prev:before,
.slick-compare-loop .slick-next:before,
.slick-compare-loop .slick-prev:before {
  color: grey;
}



// Affiliate Page
.affiliate-box img {
  max-width: 5rem;
  display: block;
  margin: 0 auto 0.5rem;
}
.affiliate-box h3{
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: p22-underground;
  text-transform: uppercase;
  color: rgb(120,120,130);
}


//  Shop Presets Page

.shop-item.hidden {
  display: none;
}

.shop-item .card {
  border-radius: 10px;
  -webkit-border-radius:10px;
  display: block;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.shop-item .card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}


.shop-item img,
.shop-item video,
.slick-compare-loop .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shop-item .category,
.shop-details .category {
  border: 1px solid rgb(180,180,190);
  color: rgb(180,180,190);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display:inline-block;
}

.shop-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: p22-underground;
  font-weight: 300;
}

.card-inner {
  padding: 1rem;
  display: block;
}


//  Product Page

.compare-at-price {
  text-decoration: line-through;
  color: rgb(180,180,190);
  padding-right: 1rem;
}


@media(max-width: 767px) {
  .shop-intro .overlay {
    background-position: left;
  }

  .shop-intro p {
    margin-bottom:0;
  }
}
