

// Explore Shop page

.shop.video-banner video{
  max-height:80vh
}

.shop-banner .banner-inner {
  padding: 1rem;
  text-align: center;
}

.shop-banner h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.shop-banner p {
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0;
}

// Shop

.text-animation .mini-card img {
  max-width: 5rem;
  display: block;
  margin: 0 auto 0.5rem;
}

.text-animation .mini-card {
  // border: 1px solid rgb(120,120,130);
  color: rgb(120,120,130);
  padding: 1rem;
  margin: 0.5rem;
  min-width: auto;
}

.mini-card {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: p22-underground;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.mini-card:hover {
  color: #eab9aa;
  border-bottom: 1px solid #eab9aa;
  // box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}


// Affiliate Page
.affiliate-box img {
  max-width: 5rem;
  display: block;
  margin: 0 auto 0.5rem;
}
.affiliate-box h3{
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: p22-underground;
  text-transform: uppercase;
  color: rgb(120,120,130);
}


//  Shop Presets Page

.shop-item.hidden {
  display: none;
}

.shop-item .card {
  border-radius: 10px;
  -webkit-border-radius:10px;
  display: block;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.shop-item .card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.shop-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shop-item .category,
.shop-details .category {
  border: 1px solid rgb(180,180,190);
  color: rgb(180,180,190);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display:inline-block;
}

.shop-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: p22-underground;
  font-weight: 300;
}



//  Product Page

.compare-at-price {
  text-decoration: line-through;
  color: rgb(180,180,190);
  padding-right: 1rem;
}


@media(max-width: 767px) {
  .shop-intro .overlay {
    background-position: left;
  }

  .shop-intro p {
    margin-bottom:0;
  }
}
