/*-----  CSS RESET  ------*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  }

  section {
    overflow-y: auto;
  }

  .relative {
    position: relative;
  }

  img {
    max-width: 100%; /* this ensures images never break their container */
    height: auto;
    display: inline-block;
  }

  .bg-image,
  .bg-animation {
    background-size: cover;
    background-position: center;
  }

  body {
    font-family: orpheuspro, serif;
    color: rgb(65,60,60);
  }

   /* this overrides the default padding and margin on gridlex elements */
  [class*=grid]           {   margin: 0;  }
  [class*=col]            {   padding: 0; }
  [class*=grid].padded-1  {  padding: 1rem;  }


  /* ------------- Utility Classes --------------  */

  .left     {  text-align: left;     }
  .right    {  text-align: right;    }
  .centered {  text-align: center;   }

  .padded   {  padding: 5%;    }
  .padded-5vw { padding: 5vw;  }
  .padded-1 {  padding: 1rem;  }
  .padded-2 {  padding: 2rem;  }
  .padded-2-h {  padding: 0 2rem;  }
  .padded-2-v {  padding: 2rem 0;  }
  .padded-left  { padding-left: 2rem; }
  .padded-right { padding-right: 2rem; }
  .padded-t-0   { padding-top:0;       }

  .margin-0 {margin: 0;}
  .margin-top-1 { margin-top: 1rem; }
  .margin-top-2 { margin-top: 2rem; }
  .margin-bottom-1 { margin-bottom: 1rem; }
  .margin-bottom-2 { margin-bottom: 2rem; }

  .capped-width { max-width: 1000px; margin: auto;}

  .tall-50  {  min-height: 50vh;   }
  .tall-100 {  min-height: 100vh;  }

  .dark-bg      {  background-color: #eab9aa;     }
  .light-bg     {  background-color: #fcf6f3;  }
  .white-bg     {  background-color: white;  }
  .grey-bg     {  background-color: #F6F6F6;  }
  .light-grey-bg     {  background-color: #F6F6F6;  }
  .featured-bg  {  background-color: #f9ede7;   }

  .light-text   { color: white; }
  .flex-flip:nth-child(2n){  flex-direction: row-reverse; }

  .highlighted-text {
    background-color: #FDFAF7;
    box-shadow: 15px 0px 0px 2px  #FDFAF7, -10px 0px 0px 2px  #FDFAF7;
    line-height: 1.7;
    font-size: 1.1rem;
  }

  .columns {
    column-count: 2;
    column-gap: 2rem;
  }

  .columns-4 {
    column-count: 4;
    column-gap: 1rem;
  }

  .columns-4 img {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .bump-left {
    position: relative;
    margin-left: -2rem;
  }

  .bump-right {
    position: relative;
    margin-right: -2rem;
    z-index:2;
  }

  .bump-up {
    margin-top: -2rem;
  }

  /* General typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.8rem;
    font-weight: normal;
  }

  .subtle-heading {
    font-family: p22-underground, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h1 {  font-size: 2.5rem;  }
  h2  { font-size: 2.2rem;  }
  h3  { font-size: 1.8rem;  }
  h4  { font-size: 1.2rem;  }
  p, li  { font-size: 1.1rem;  }

  p, ul {
     margin-bottom: 1rem;
     line-height: 1.6;
  }

  ul { padding-left: 1.5rem; }
  li { padding-left: 1rem;
       margin-bottom: 0.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p a {
    border-bottom: 1px solid;
    line-height: 1.3;
    display: inline-block;
  }

  p a:hover {
    color: #be9a85;
  }

  p a.emphasis {
    font-style: italic;
  }

  //  Unique content

  .bg-animation {
    background-image: url('/images/icons/maja_wave_website.gif');
    // opacity: 0.5;
  }
  // .bg-animation section {
  //   opacity: 1;
  // }


  .spinning-sun {
      animation: rotation 5s infinite ease;
      animation-direction: alternate;
      max-width: 3rem;
      vertical-align: bottom;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .blog-content h2:not(:first-child),
  .blog-content h3:not(:first-child),
  .blog-content h4:not(:first-child) {
    margin-top: 2rem;
  }

  .text-animation .emphasis {
    min-width: 8rem;
    min-height: 2rem;
    display:inline-block;
    line-height:1.2;
    margin-bottom:0.5rem;
  }

  .text-animation .emphasis span {
    position: relative;
    padding: 0.5rem;
  }

  .text-animation .emphasis span:hover {
    // font-style: italic;
    color: #be9a85;
  }

  // for the IG feed
  .light-text .emphasis span:hover {
    color: #f9f0e7;
  }
  .light-text .emphasis span:before {
    background: #f9f0e7;
  }

 // This creates the animated underline effect

  a.emphasis span:before {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    content: '';
    width: 0;
    height: 1px;
    background: #be9a85;
    display: block;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  a.emphasis span:hover:before {
    width: 100%;
  }

  /* this makes sure that the last element in any container doesn't have margin-bottom */
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom:0;
  }

  .capitalize {
    text-transform: capitalize;
  }

  hr { /* this is a line element */
    border: none;
    border-bottom: 2px solid;
    width: 4rem;
    margin-bottom: 1rem;
  }

  hr.centered {
    margin: 1rem auto;
  }

  /* ------- unique typography styles - adjust to suit your styles  --------- */

  .not-bold   { font-weight: normal; } /* add this class to make headings not bold */
  .no-bullets { list-style:none; } /* Used to remove dot-points from a list */

  .big-bold {
    font-size: 3rem;
    font-weight: 700;
  }

  p.emphasis {   /* typically added to paragraphs to make them a little bigger, could be a different font or color also */
    font-size: 1.2rem;
  }

  /* Icons */

  .far {        /* default styles for font awesome icons */
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .featured-stat {     /* styles for our featured statistic icons  */
    font-size: 3rem;
    color: #be9a85;
    margin-bottom: 1rem;
    display: block;
  }

  .highlight { /* this is applied to spans for out highlighted text. */
    background-color: rgb(240, 240, 245);
    display: inline-block;
    padding: 0.5rem;
    margin: 2px;
  }

  .quote-icon {  /* You can also change the fonts for these icons specifically */
    font-size: 6rem;
    line-height: 1;
  }

  .quote-text {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
  }

  //  Signoff

  .signoff {
    max-width:300px;
  }

   // About Page
.about-page h1 {
  // font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  // letter-spacing: 4px;
  font-weight: normal;
  font-size: 2.5rem;
}

.about-page h1 span {
  font-family: helvetica;
  font-size: 1.8rem;
  padding: 0.5rem;
  vertical-align: top;
  display: inline-block;
}

.about-page h2 {
  // font-style: italic;
  font-weight: bold;
  // font-family: p22-underground, sans-serif;
  // letter-spacing: 2px;
  font-size: 1.3rem;
  // color: rgb(90,90,90);
}

.about-page p {
  font-size: 2.2rem;
}

.signoff {
  padding: 0.5rem;
  max-width: 15rem;
}

.centered .squiggle {
}


// Embed responsively

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media(max-width:768px) {
  .about-page p{
    font-size: 1.8rem;
  }
}
