<section class="{{include.block.block-class}}">
  <div class="capped-width grid padded mob-flex-flip">
    <div class="col-6_sm-12 padded-1">
        <img src="{{include.block.image-1_path}}" alt="{{page.title}}">
        <img src="{{include.block.image-2_path}}" alt="{{page.title}}">
    </div>
    <div class="col-6_sm-12 padded-1 post-content">
        <p class="emphasis"> {{include.block.intro-paragraph-emphasis}}</p>
        <img src="/images/gifs/wave.gif" class="small-gif" alt="wave-animation">
        {{include.block.body-content_html}}
    </div>
  </div>
</section>

