---
layout: default
---

<!-- this section is an example of how we output the travel posts -->
<section class="padded">
  <h1 class="centered capitalize margin-bottom-1" data-aos="fade"> {{page.category | capitalize}} </h1>

  <nav class="category-slider margin-bottom-2" data-aos="fade" data-aos-delay="1000" id="blog-filter">

    <!-- <a href="/blog" class="category"> ALL </a>
    {% for category in site.categories %}
      <a href="/{{category[0] | slugify }}" class="category {% if page.url contains category[0] %}active{% endif %}"> {{category[0]}} </a>
    {% endfor %} -->
    <a class="category">all</a>
    {% for tag in site.data.categories[page.category] %}
      <a class="category">{{tag}}</a>
    {% endfor %}

  </nav>

  <div class="blog-masonry blog-loop" id="blog-loop">

    {% assign all-posts = site.documents | where: 'all-posts', true | sort: 'date' | reverse %}

    {% assign page-category = page.category %}
    {% assign relevant-posts = all-posts | where: 'categories', page-category %}


    {% for post in relevant-posts limit:25 %}
      {% unless post.hidden == true %}

        {% include post-loop-item.html %}

      {% endunless %}
    {% endfor %}

  </div>

  {% for post in relevant-posts offset:25 limit:1 %}

  <div class="centered">
      <a class="button" href="/archive/{{page.category}}" id="read-more"> View More </a>
  </div>

  {% endfor %}
</section>
