---
layout: default
---

<section class="padded grid-center shop-details light-bg">
  <div class="col-5_sm-12">
    <img src="{{page.image_path}}">
  </div>
  <div class="col-5_sm-12 padded-2">
    <h1> {{page.title}} </h1>
    <h4 class="subtle-heading"> {{page.short-description}}  </h4>
    {% include squiggle.html %}
    <p> {{page.description }} </p>
    <!-- <span class="compare-at-price">{{page.compare-at-price}} </span> {{page.price}} -->

    {% capture form_id %}{{ page.form_id }}{% endcapture %}

    {% include freebie-signup-form.html form_id=form_id  %}

  </div>
</section>
{% if page.long-section == true %}
<section class="padded featured-bg">

  {{content}}

</section>
{% endif %}
