---
layout: default
---

<section class="banner {% if page.banner-fixed == true %} fixed {% endif %} grid-right" style="background-image:url({{page.banner-1_path}});">
  <a href="cloudcannon:collections/{{ page.path }}" class="editor-link">Edit this post </a>

  <!-- <div class="overlay"></div> -->

  <div class="col-5_sm-7_xs-10-bottom mob-hide">
    <div class="banner-inner grid margin-bottom-2">
    <div class="col-6 left">
      <span class="author"> {{page.author}} </span> | <span class="category"> {{page.categories[0]}} </span>
    </div>
    <div class="col-6 right mob-hide">
        {% include squiggle.html %}
    </div>
    <div class="col-12">
      <h2 class="centered"> {{page.title}} </h2>
      <p class="author"> {{page.date | date: "%m.%d.%Y" }} </p>
     </div>
   </div>
 </div>

</section>

<section class="padded mob-show grey-bg">
  <div class="padded-1">
    <h2> {{page.title}} </h2>
    <span class="author">by {{page.author}}</span> //
    <span class="author"> {{page.date | date: "%m.%d.%Y" }} </span>
    <p> {% include squiggle.html %} </p>
    <div class="mob-social-share">
      <h4> Share </h4>
      {% include social-share.html %}
    </div>
  </div>
</section>

<div class="social-share mob-hide">
  {% include social-share.html %}
  <h4> Share </h4>
</div>


<!-- this is your post layout, each of your individual blog post pages will use this layout. -->
<section id="post-content" class="post-content grid padded mob-flex-flip capped-width">

  <div class="col-6_sm-12 padded-1">
      <img src="{{page.image-1_path}}">
      <img src="{{page.image-2_path}}">
  </div>
  <div class="col-6_sm-12 padded-1">
      <p class="emphasis"> {{page.intro-paragraph-emphasis}}</p>
      <img src="/images/gifs/wave.gif" class="small-gif">
      {{page.intro-content_html}}
  </div>
</section>

{% for section in page.sections %}

  {% unless section.banner_path == nil %}

  <section class="banner {% if section.banner-fixed == true %} fixed {% endif %} grid-right right" style="background-image:url({{section.banner_path}});">

    <a href="cloudcannon:#sections[{{ forloop.index0 }}].banner_path" class="editor-link" data-cms-editor-link-style="modal">
      Edit banner image
    </a>

    <!-- <div class="col-4_sm-6_xs-12-bottom padded-2">
        <p class="margin-0"> <span class="highlighted-text">{{section.banner-caption_html}}</span></p>
    <div> -->

  </section>

{% endunless %}

<section class="{% cycle 'light-bg','white-bg' %} blog-content">
  <p class="banner-caption_html">{{section.banner-caption_html}}</p>
  <!-- Cloud Cannon Editor Link -->
  <a href="cloudcannon:#sections[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal">
    Edit section
  </a>
  <div class="grid-center padded capped-width">

    {% unless section.main-paragraph-emphasis == nil %}
    <div class="col-4_sm-10 centered">



        <p class="emphasis"> {{section.main-paragraph-emphasis}}</p>

        <img src="/images/gifs/dots.gif" style="transform: rotate(270deg);
    max-width: 4rem;">
        <!-- {% include flick-lite.html %} -->

    </div>
    {% endunless %}
    <div class="col-12 {% if section.columns == true %} columns {% endif %} padded-1">
        {{section.body-content_html}}
    </div>
  </div>

  {% if forloop.last == true %}

  <div class="right padded padded-t-0 bump-up capped-width">
      <img src="/images/logo/signoff_maja_black.gif" class="signoff" nopin="nopin">
  </div>

  <div class="previous-and-next">

    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo;  Previous Post</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}"> Next Post  &raquo;</a>
    {% endif %}

  </div>

  {% endif %}

</section>

{% endfor %}

{% if page.gallery == true %}

<section class="gallery padded capped-width centered blog-content">
  <p>
    <img class="margin-top-1 margin-bottom-2" src="https://wovenmagazine.com/content/themes/woven/assets/images/zigzag-black.png" style="max-width: 2rem;">
  </p>
  {% for item in page.gallery %}
  <img src="{{item.image_path}}" class="{{item.size}}">
  {% endfor %}
  <p class="subtitle margin-top-1"> {{page.gallery-text}}</p>

</section>

{% endif %}

<section class="padded grey-bg">
  <script src="https://cdn.commento.io/js/count.js"></script>
  <a class="subtitle" href="{{site.url}}{{page.url}}#commento"> comments</a>
  <script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>

</section>

<section class="featured-bg padded related-posts">

<h4 class=" centered subtle-heading"> Related Posts </h4>

<div class="horizontal-scroll grid">


{% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}
{% assign relevant = site.categories[pageCategory] | except: 'title', page.title %}
  {% for post in relevant limit:3 %}

      <a href="{{post.url}}" class="col-4_xs-12 padded-2 centered">
        <div class="bg-image padded" style="background-image:url({{post.image_path}})"> </div>
        <span class="author">by {{post.author}}</span> //
        <span class="author"> {{post.date | date: "%m.%d.%Y" }} </span>
        <h3> {{post.title}} </h3>
      </a>

  {% endfor %}
</div>

</section>

<!-- Pin This -->
<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
