---
layout: default
---

<section class="padded grid-center shop-details light-bg">
  <div class="col-12 left padding-0">
    <button class="back-button" onclick="goBack()">< Go Back</button>
  </div>
  <div class="col-5_sm-12 relative">
    <span class="save">SAVE<br>{{ page.save-percentage }}</span>
    <img src="{{page.image_path}}">
  </div>
  <div class="col-5_sm-12 padded-2">
    <h1> {{page.title}} </h1>
    <div class="shopify-buy-button-styles">
        <div id='product-component-{{page.shopify-id}}'></div>
     </div>
    <p> <span class="compare-at-price">{{page.compare-at-price}} </span> {{page.price}} </p>

    <!-- <a class="button-solid margin-bottom-2" href=""> Buy Now {{page.price}}</a> -->
    <h4> {{page.short-description}}  </h4>
    <p> {{page.description }} </p>
    <a class="stars" href="#looxreviews"> ★★★★★ ({{page.reviews}}) </a>
  </div>
</section>

<section class="padded capped-width grey-bg">
  <div class="slick-product-loop">
    {% for product in page.main-gallery %}
    <img src="{{product.image_path}}">
    {% endfor %}
  </div>
</section>


<section class="padded relative" id="faqs">
  <div class="capped-width">
    <h3 class="centered padded-1 subtle-heading"> About this preset pack </h3>

    <dl class="accordion padded-1">

      {% for question in page.faqs %}

      <dt class="grey-bg"><a href="#">{{question.question}}</a></dt>
      <dd>{{question.answer_html}}</dd>

      {% endfor %}

      {% for question in site.data.preset-faqs %}

      <dt class="grey-bg"><a href="#">{{question.question}}</a></dt>
      <dd>{{question.answer_html}}</dd>

      {% endfor %}

    </dl>
    <div class="padded-1">
      <p> As always we thank you so much for your support, we really appreciate every single one of you. </p>
      <p> Lots of Love </p>

      <img src=/images/logo/signoff_maja_black.gif class="signoff">
    </div>
  </div>
    <div class="bg-image overlay" style="background-image:url('/images/gifs/website_leaves_black.gif')"> </div>
</section>
<section class="padded centered light-bg">
  <h3> Your Photos + Our Presets = <img class="spinning-sun" src="/images/icons/sun.png" /> </h3>
  {% include squiggle.html %}
  <div class="col-12 columns-3">
    {% for image in page.gallery %}
    <img src="{{image.image_path}}" alt="{{image.alt}}">
    {% endfor %}
  </div>
</section>
<section class="padded dark-bg" id="looxreviews">
  <div id="looxReviews" data-product-id="{{page.shopify-id}}" class="loox-reviews-default"></div>
</section>


<!--  Javascript for the buy button -->


<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'shop-mariefeandjakesnow.myshopify.com',
      storefrontAccessToken: 'd90d61154f90d1257966ef7aac2a1c1e',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '{{page.shopify-id}}',
        node: document.getElementById('product-component-{{page.shopify-id}}'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        },
        "text-align": "left"
      },
      "button": {
        "font-family": "p22-underground, sans-serif",
        ":hover": {
          "background-color": "#ab8b78"
        },
        "background-color": "#be9a85",
        ":focus": {
          "background-color": "#ab8b78"
        },
        "border-radius": "1px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "p22-underground, sans-serif",
        ":hover": {
          "background-color": "#ab8b78"
        },
        "background-color": "#be9a85",
        ":focus": {
          "background-color": "#ab8b78"
        },
        "border-radius": "1px"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "p22-underground, sans-serif",
        ":hover": {
          "background-color": "#ab8b78"
        },
        "background-color": "#be9a85",
        ":focus": {
          "background-color": "#ab8b78"
        },
        "border-radius": "1px"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "header": {
        "color": "#4c4c4c"
      },
      "lineItems": {
        "color": "#4c4c4c"
      },
      "subtotalText": {
        "color": "#4c4c4c"
      },
      "subtotal": {
        "color": "#4c4c4c"
      },
      "notice": {
        "color": "#4c4c4c"
      },
      "currency": {
        "color": "#4c4c4c"
      },
      "close": {
        "color": "#4c4c4c",
        ":hover": {
          "color": "#4c4c4c"
        }
      },
      "empty": {
        "color": "#4c4c4c"
      },
      "noteDescription": {
        "color": "#4c4c4c"
      },
      "discountText": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "discountAmount": {
        "color": "#4c4c4c"
      }
    },
    "text": {
      "notice": "Discount codes are added at checkout."
    },
    "popup": false,
    "googleFonts": [
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "p22-underground, sans-serif",
        "background-color": "#be9a85",
        ":hover": {
          "background-color": "#ab8b78"
        },
        ":focus": {
          "background-color": "#ab8b78"
        }
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#4c4c4c"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "price": {
        "color": "#4c4c4c"
      },
      "fullPrice": {
        "color": "#4c4c4c"
      },
      "discount": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "quantity": {
        "color": "#4c4c4c"
      },
      "quantityIncrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityDecrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityInput": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>

<script async src="//loox.io/widget/loox.js?shop=shop-mariefeandjakesnow.myshopify.com"></script>
